* {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: #0a2a43;
}

header {
  width: 100%;
  height: 25px;
}

.contenedor-botones-idiomas {
  height: 25px;
  display: flex;
  justify-content: start;
  align-items: center;
  align-content: center;
}
.btn-idioma {
  z-index: 9999999999999;
  background-color: transparent;
  border: none;
}
.btn-idioma img {
  width: 100%;
  height: 22px;
  clip-path: circle(50%);
}

.lista-header {
  width: 100%;
  position: fixed;
  top: 0px;
}

.listas-header {
  font-size: small;
  display: flex;
  justify-content: end;
  align-items: center;
  width: 100%;
  height: 25px;
  list-style: none;
  gap: 15px;
  padding: 0 10px 0 0;
}

.listas-header li a {
  text-decoration: none;
  color: #fff;
  border-radius: 5px;
}

.listas-header li a:hover {
  box-shadow: 3px 3px 20px #5f6060;
}

.listas-show {
  display: none;
}

.box1 {
  height: 100vh;
  width: 100%;
  background-image: url(./img/fondos/5.png);
  background-blend-mode: darken;
  background-size: cover;
  background-position: center;
  display: table;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenedor-info {
  width: 20%;
  height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.foto-perfil {
  margin: 20px;

  height: 200px;
  border-radius: 100%;
  border: transparent;

  /* clip-path: circle(100% at 10% 50%); */
  /* cursor: pointer; */
}
@keyframes mover {
  0% {
    transform: translate(100%);
    color: #0e1218;
  }
  50% {
    transform: translateX(-50%);
    color: #0b1d2b;
  }
}

.text-info11 {
  font-size: 6.5dvw;
  color: #e4ecf4;
}
.text-info2 {
  font-size: 4.5dvw;
  color: #d9dcdc;
}

@media (max-width: 680px) {
  .text-info11 {
    font-size: 50px;
  }
  .text-info2 {
    font-size: 25px;
  }
}
.box2 {
  width: 100%;
  height: 100vh;

  background-size: cover;
  background-image: url(/img/fondos/4.png);
  background-position: center;
  display: table;
  background-attachment: fixed;
  /* display: flex; */
  /* flex-wrap: wrap;
  flex-direction: column;
  justify-content: stretch;
  align-items: center; */
}

.titulo-acerca {
  text-align: center;
  color: #e4ecf4;
  /* margin: 10px;
  margin-top: 20px; */
  padding: 10px;
  letter-spacing: 0.4rem;
  border: 0.5px solid rgba(0, 0, 0, 0.111);
  background-color: rgba(130, 130, 132, 0.604);
  margin: 0 auto;
}
.contenedor-acerca {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.contenedor-acerca img {
  border-radius: 100%;
  /* box-shadow: 15px 5px 3px #fff; */
  filter: drop-shadow(8px 6px 4px #fff);
}
.img-acerca {
  width: 127px;
  height: auto;
}

.acerca-show {
  display: none;
}

.link-cv {
  color: #0a2a43;
  font-weight: 700;
  text-decoration: none;
}
.caja {
  margin: 20px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.acerca-de-mi {
  width: 100%;
  height: auto;
  padding: 10px;
  margin: 10px;
  color: #000;
}

.contenedor-skills {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}
.contenedor-skills img {
  width: 100px;
  height: auto;
}

.box3 {
  height: 100vh;
  width: 100%;
  background: rgb(206, 220, 231); /* Old browsers */
  background: -moz-linear-gradient(
    top,
    rgba(206, 220, 231, 1) 0%,
    rgba(89, 106, 114, 1) 57%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(206, 220, 231, 1) 0%,
    rgba(89, 106, 114, 1) 57%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(206, 220, 231, 1) 0%,
    rgba(89, 106, 114, 1) 57%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cedce7', endColorstr='#596a72',GradientType=0 ); /* IE6-9 */

  background-size: cover;
  background-position: center;
  display: table;
  background-attachment: fixed;
  background-image: url(./img/svg/wave1.svg);
  background-color: #0a0909;
}

.titulo-misproyectos {
  text-align: center;
  color: #fff;
  margin: 10px;
  padding: 10px;
}
.contenedor-proyectos {
  /* margin: 100px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.proyecto1 {
  margin-top: 15px;
  padding-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.titulo-proyecto {
  text-align: center;
  padding: 0px;
  color: #fff;
}
.titulo-descripcion {
  text-align: center;
  width: 350px;
  height: 200px;
  margin: 15px;
  color: #fff;
}

.proyectos-show {
  display: none;
}

.modal-body {
  color: #0a2a43;
}

.modal-title {
  color: #0a2a43;
}
.btn1 {
  text-align: center !important;
  vertical-align: middle !important;
  display: inline-block !important;
  padding: 12px 30px !important;
  margin-top: 15px !important;
  margin-right: 15px !important;
  border-radius: 15px !important;
  background-color: transparent !important;
  line-height: 1.5 !important;
  font-size: 1rem !important;
  user-select: none !important;
  border: 1px solid #fff !important;
}
.btn1:hover {
  background-color: #0a2a43 !important;
}
.link-proyecto {
  color: #fff;
  text-decoration: none;
}

.img-proyecto {
  width: 250px;
  height: 200px;
  border-radius: 10px;
  transition: filter 0.5s ease;
  transition: translate 1s ease;
  object-fit: contain;
}
.img-proyecto:hover {
  filter: drop-shadow(4px 6px 4px #c0bebe);
  translate: 0px -2px;
}

.box4 {
  height: 100vh;
  width: 100%;
  background-color: #0a2a43;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f5f6f6+0,dbdce2+0,b8bac6+49,dddfe3+80,f5f6f6+100 */
  background: rgb(245, 246, 246); /* Old browsers */
  background: -moz-linear-gradient(
    top,
    rgba(245, 246, 246, 1) 0%,
    rgba(219, 220, 226, 1) 0%,
    rgba(184, 186, 198, 1) 49%,
    rgba(221, 223, 227, 1) 80%,
    rgba(245, 246, 246, 1) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(245, 246, 246, 1) 0%,
    rgba(219, 220, 226, 1) 0%,
    rgba(184, 186, 198, 1) 49%,
    rgba(221, 223, 227, 1) 80%,
    rgba(245, 246, 246, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(245, 246, 246, 1) 0%,
    rgba(219, 220, 226, 1) 0%,
    rgba(184, 186, 198, 1) 49%,
    rgba(221, 223, 227, 1) 80%,
    rgba(245, 246, 246, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#f5f6f6',GradientType=0 ); /* IE6-9 */
  background-image: url(/img/svg/wave5.svg);
  background-color: #0a0909;
  background-size: cover;
  background-position: center;
  display: table;
  background-attachment: fixed;
  /* display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center; */
}
.contenedor-servicios {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 6px;
}
.datos-servicios {
  color: #fff;
  /* text-align: center; */
  margin: 5px;
  padding: 5px;
}
.img-servicios {
  width: 20vw;
  height: auto;
  border-radius: 5%;
  margin: 20px;
  padding: 5px;
}
@media (max-width: 680px) {
  .img-servicios {
    width: 50%;
    height: auto;
  }
}

#servicios {
  scroll-margin-top: 2.5ex;
}
#contacto {
  scroll-margin-top: 2.5ex;
}
#proyectos {
  scroll-margin-top: 2.5ex;
}
#acerca-de {
  scroll-margin-top: 2.5ex;
}

.servicios-show {
  display: none;
}
.link-cv {
  color: #cac9cf;
  font-weight: 900;
  font-size: 1.5rem;
}
.link-cv:hover {
  color: #7fbff3;
}
.box5 {
  height: 100vh;
  width: 100%;
  background-color: #0a2a43;
  /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f5f6f6+0,dbdce2+0,b8bac6+49,dddfe3+80,f5f6f6+100 */
  background: rgb(245, 246, 246); /* Old browsers */
  background: -moz-linear-gradient(
    top,
    rgba(245, 246, 246, 1) 0%,
    rgba(219, 220, 226, 1) 0%,
    rgba(184, 186, 198, 1) 49%,
    rgba(221, 223, 227, 1) 80%,
    rgba(245, 246, 246, 1) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    top,
    rgba(245, 246, 246, 1) 0%,
    rgba(219, 220, 226, 1) 0%,
    rgba(184, 186, 198, 1) 49%,
    rgba(221, 223, 227, 1) 80%,
    rgba(245, 246, 246, 1) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    to bottom,
    rgba(245, 246, 246, 1) 0%,
    rgba(219, 220, 226, 1) 0%,
    rgba(184, 186, 198, 1) 49%,
    rgba(221, 223, 227, 1) 80%,
    rgba(245, 246, 246, 1) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f6f6', endColorstr='#f5f6f6',GradientType=0 ); /* IE6-9 */
  background-image: url(/img/svg/wave4.svg);
  background-color: #0a0909;
  background-size: cover;
  background-position: center;
  display: table;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.titulo-contacto {
  text-align: center;
  color: #fff;
  margin: 15px;
  padding: 10px;
}

.contacto {
  width: 30vw;
  height: auto;
  display: flex;
  justify-content: center;
}
@media (max-width: 800px) {
  .contacto {
    width: auto;
    width: 60%;
  }
  .btn-contacto {
    padding: 12px 15px;
  }
}

.formulario-contacto {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  color: rgb(156, 152, 152);
}
.formulario-contacto input {
  border: transparent;
  background-color: transparent;
  border-bottom: thin solid black;
  color: #c0bebe;
}

.formulario-contacto input:hover {
  border-bottom: thin solid rgb(241, 237, 237);
}
.formulario-contacto textarea {
  background-color: transparent;
  border: thin solid black;
}

.formulario-contacto textarea:hover {
  background-color: transparent;
  border-bottom: thin solid rgb(241, 237, 237);
  border-top: thin solid rgb(246, 191, 191);
  border-right: thin solid rgb(189, 238, 98);
  border-left: thin solid rgb(116, 238, 244);
}
.botones-contacto {
  display: flex;
  justify-content: center;
  gap: 0px;
  margin-left: 15px;
  margin-bottom: 15px;
}
.btn-contacto {
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  padding: 12px 25px;
  margin-top: 10px;
  margin-right: 15px;
  border-radius: 15px;
  background-color: transparent;
  line-height: 1.5;
  font-size: 1rem;
  user-select: none;
  border: 1px solid #080f15;
}

.btn-contacto:hover {
  background-color: #0a2a43;
  color: #a9d2f3;
}

.texArea {
  color: #b2b5b5;
}

.contacto-show {
  display: none;
}

@media (max-width: 430px) {
  .contacto {
    width: 60%;
  }
  .formulario-contacto {
    width: 70%;
  }
  .btn-contacto {
    padding: 10px 10px;
  }
}
.footer {
  width: 100%;
  height: 150px;
  background: -webkit-radial-gradient(rgb(189, 195, 200), rgb(202, 217, 232));
  background: radial-gradient(rgb(189, 195, 200), rgb(202, 217, 232));
}
.copy {
  text-align: center;
  font-size: 0.7rem;
  font-weight: 600;
}

.footer-redes {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.footer-redes a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 18px;
}

.footer-redes a img {
  width: 25px;
}

.program {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  height: 90px;
}

.program p {
  font-size: 12px;
}

.footer-show {
  display: none;
}
