:root {
  --background: white;
  --primary: #605dff;
  --primary-light: #e6e5ff;
  --secondary: #dfe6ee;
  --secondary-background: #f4f6f9;
  --secondary-text: #2e5a8c;
  --background-galeria: #3c343d;
  --background-card-galeria: #6b626c;
  --primary-color-tarjetas3: #635bff;
  --secondary-tarjetas3: #0a2540;

  --background-social: #2c2c2c;
  --primary-color-social: white;
  --secondary-color-social: #2c2c2c;

  --background-social2: #2c2c2c;
  --linkedin: #0a66c2;
  --youtube: #e52d27;
  --twitter: #1d9bf0;

  --background-carrusel: #261e5a;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.contenedor-tarjeta {
  background-color: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 24px;
  font-size: 16px;
  font-family: "Manrope", sans-serif;
}

.container-tarjeta {
  max-width: 960px;
  width: 100%;
  container-name: card-container;
  container-type: inline-size;
}

.card-tarjeta {
  display: flex;
  border: 1px solid var(--primary-light);
  border-radius: 12px;
  background-color: var(--secondary-background);
  cursor: pointer;
  overflow: hidden;
  min-height: 360px;
  flex-direction: column;
}

.card-tarjeta:hover {
  box-shadow: 0 24px 72px 0 rgba(96, 93, 255, 0.1);
}

.content-tarjeta {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: start;
  padding: 16px;
}

.background-tarjeta img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-type-tarjeta {
  height: 36px;
  padding: 4px 12px;
  display: flex;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  gap: 8px;
  color: var(--secondary-text);
  background-color: var(--secondary);
}

.card-header-tarjeta {
  display: flex;
  justify-content: space-between;
}

.latest-article-tarjeta {
  height: 36px;
  padding: 4px 12px;
  border-radius: 8px;
  display: flex;
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-light);
  color: var(--primary);
}

.card-content-tarjeta {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.card-content-tarjeta > h2 {
  font-weight: 700;
}

.card-content-tarjeta > p {
  font-weight: 400;
  margin: 6px 0;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.blog-author-tarjeta {
  display: flex;
  align-items: center;
  width: auto;
  padding: 4px 20px 4px 4px;
  column-gap: 8px;
  border: 1px solid #e6e5ff;
  background-color: #fff;
  border-radius: 32px;
  height: 56px;
}

.blog-author__name-tarjeta {
  font-weight: 700;
}

.blog-author__alias-tarjeta {
  color: var(--primary);
  font-weight: 500;
}

.blog-author-tarjeta img {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  object-fit: cover;
}

.blog-preview__bottom-tarjeta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
}

.blog-preview__bottom-tarjeta {
  margin-top: auto;
}

.go-to-article-button-tarjeta {
  padding: 8px;
  min-height: 36px;
  min-width: 56px;
  width: 100%;
  max-width: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background-color: var(--primary-light);
  transition: all 0.2s ease-in-out;
  border: 1px solid transparent;
}

.go-to-article-button-tarjeta svg {
  width: 64px;
  stroke: var(--secondary-text);
}

.go-to-article-button-tarjeta:hover {
  border: 1px solid var(--primary);
}

@container card-container (min-width:600px) {
  .card-tarjeta {
    flex-direction: row;
    padding: 32px;
    gap: 32px;
  }

  .background-tarjeta {
    flex: 3;
    overflow: hidden;
  }

  .content-tarjeta {
    flex: 4;
    padding: 0px;
  }

  .background-tarjeta img {
    border-radius: 8px;
  }
  -galeria .card-content-tarjeta p {
    -webkit-line-clamp: 6;
  }
}

/*galeria1*/
.background-galeria {
  background-color: var(--background-galeria);
  display: grid;
  place-items: center;
  height: 70vh;
}

.gallery-galeria {
  display: flex;
  left: calc(50% - 330px);
}

.card-galeria {
  position: relative;
  left: 0px;
  width: 210px;
  height: 260px;
  background-color: var(--background-card-galeria);
  border-radius: 8px;
  transition: 1s ease-in-out;
  overflow: hidden;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.5);
}

.card-galeria:not(:first-child) {
  margin-left: -45px;
}

.card-galeria:hover {
  transform: translateY(-16px);
  font-weight: bold;
  cursor: pointer;
}

.card-galeria:hover ~ .card-galeria {
  left: 55px;
}

.card-galeria img {
  height: 260px;
  object-fit: cover;
  border-radius: 4px;
}

/*galeria 3*/

.contenedor-tarjetas3 {
  display: flex;
  width: 100%;
  padding-top: 180px;
  font-family: "sohne-var", "Helvetica Neue", "Arial", sans-serif;
}

.container-tarjetas3 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: 90%;
  gap: 16px;
}

.content-tarjetas3 {
  padding: 24px;
  flex-grow: 1;
  height: 260px;
}

.card-tarjetas3 {
  display: flex;
  flex-direction: column;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 18px 36px -18px rgba(0, 0, 0, 0.1),
    0px 30px 45px -30px rgba(50, 50, 93, 0.25);
  background-color: white;
  cursor: pointer;
  width: 100%;
  flex-basis: 330px;
  padding: 4px;
  min-height: 500px;
  transition: all 0.2s ease-in-out;
}

.content-tarjetas3 > h1 {
  font-size: 32px;
  margin-bottom: 16px;
  line-height: 1.384615385;
}

.content-tarjetas3 > p {
  font-size: 18px;
  line-height: 1.55;
  font-weight: 500;
}

.content-tarjetas3 a {
  color: var(--primary-color-tarjetas3);
  text-decoration: none;
  font-weight: 800;
}

.content-tarjetas3 a:hover {
  color: #0a2540;
}

.card-background-tarjetas3 {
  height: 200px;
  transition: all 0.2s ease-in-out;
}

.card-tarjetas3:hover .card-background-tarjetas3 {
  height: 160px;
}

.card-background-tarjetas3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card-tarjetas3:hover .action-bottom-bar-tarjetas3 a {
  opacity: 1;
}

.action-bottom-bar-tarjetas3 {
  display: flex;
  font-size: 18px;
  height: 42px;
  width: 100%;
}

.action-bottom-bar-tarjetas3 a {
  display: flex;
  gap: 6px;
  color: var(--primary-color-tarjetas3);
  text-decoration: none;
  font-weight: 800;
  opacity: 0;
  padding: 0 24px;
  transition: all 0.2s ease-in-out;
}

.action-bottom-bar-tarjetas3 a:hover {
  color: var(--secondary-tarjetas3);
}

.action-bottom-bar-tarjetas3 a:hover svg {
  color: var(--secondary-tarjetas3);
}

.action-bottom-bar-tarjetas3 a svg {
  transition: all 0.2s ease-in-out;
}

.arrow {
  display: none;
}

.action-bottom-bar-tarjetas3 a:hover .arrow {
  display: block;
}

.action-bottom-bar-tarjetas3 a:hover .chevron {
  display: none;
}

/*social media*/
.background-social {
  background-color: var(--background-social);
  display: grid;
  place-items: center;
  height: 100vh;
}

.social-media-buttons-social {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 16px;
  list-style: none;
}

.social-media-buttons-social li {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  cursor: pointer;
  display: grid;
  background-color: var(--primary-color-social);
  place-items: center;
  transition: all 0.3s;
  border: 1px solid var(--primary-color-social);
}

.social-media-buttons-social li a {
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  color: var(--secondary-color-social);
}

.social-media-buttons-social li:hover {
  background-color: var(--secondary-color-social);
  border: 1px solid var(--primary-color-social);
  border-radius: 8px;
}

.social-media-buttons-social li a svg {
  height: 24px;
  width: 24px;
  stroke: var(--secondary-color-social);
  stroke-width: 1.75;
  transition: 0.8s;
}

.social-media-buttons-social li:hover svg {
  stroke: var(--primary-color-social);
  transform: rotateY(360deg);
  stroke-width: 1.75;
}

/*social 2*/

.background-social2 {
  background-color: var(--background-social2);
  display: grid;
  place-items: center;
  height: 100vh;
}

.social-media-buttons-social2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}

.social-media-button-social2 {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  outline: 2px solid white;
  cursor: pointer;
  transition: all 0.3s;
  display: grid;
  place-items: center;
}

.social-media-button-social2:hover {
  outline-offset: 3px;
  transition: all 0.3s;
}

.social-media-button-social2 img {
  transition: all 0.3s;
}

.social-media-button-social2:hover img {
  transform: scale(1.15);
}

.social-media-button-social2:hover:nth-child(1) {
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
}

.social-media-button-social2:hover:nth-child(2) {
  background-color: var(--twitter);
}

.social-media-button-social2:hover:nth-child(3) {
  background-color: var(--youtube);
}

.social-media-button-social2:hover:nth-child(4) {
  background-color: var(--linkedin);
}

/*carrusel*/

.body-carrusel {
  scroll-behavior: smooth;
  font-family: "Mullish", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--background-carrusel);
  padding: 32px;
  padding-top: 128px;
}

.background-carrusel {
  display: flex;
  justify-content: center;
}

.container-carrusel {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 0px;
  margin: 4px;
  gap: 8px;
  max-height: 430px;
  max-width: 388px;
  transition: all 0.2s;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.card-carrusel {
  padding: 4px;
  min-width: 380px;
  min-height: 400px;
  color: white;
  display: flex;
  border-radius: 8px;
  font-size: 48px;
  transition: all 0.2s;
  scroll-snap-align: start;
}

.card-carrusel figure {
  margin: 0px;
  border-radius: 8px;
  cursor: move;
  cursor: grab;
}

.card-carrusel figure:active {
  cursor: grabbing;
}

.card-carrusel img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 16px;
}

.container-carrusel::-webkit-scrollbar {
  width: 8px;
}

.container-carrusel::-webkit-scrollbar-track {
  background: white;
  border-radius: 6px;
}

.container-carrusel::-webkit-scrollbar-thumb {
  background: #ff9950;
  border-radius: 5px;
}

.container-carrusel::-webkit-scrollbar-thumb:hover {
  background: #ff9950;
}
